version: "3.9"

services:
  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: "changeme"
    volumes:
      - meili_data:/meili_data
    restart: unless-stopped

volumes:
  meili_data: